@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


* { margin:0; padding:0; box-sizing: border-box; }
html { scroll-behavior:smooth; }
body { font-family: 'Segoe UI'; font-size:16px; color:#333; }
li { list-style: none; }
img, video, input { vertical-align:middle; }
a { text-decoration: none; }
.inner { max-width: 1280px; width: 100%; margin: 0 auto; }

/*header*/
header { position: fixed; left: 0; top: 0; width: 100%; height: 102px; z-index: 9; background-color: #fff; }
header a { color: #333;}
nav { position: relative;}
.logo { position: absolute; left: 40px; top: 0; font-size: 32px; font-weight: 600; line-height: 102px;}
.menu { position: absolute; right: 50px; top: 35px; display: flex;  align-items: center; }
.menu a { display: inline-block; align-items: center; width: 42px; padding-right: 10px; }
.menu a img { width: 100%; }
.menu:hover { cursor: pointer; }
.gnb { padding-top: 30px; padding-left: 12%;}
.gnb>li {display: inline-block;  font-size: 16px; padding-left: 20px; font-weight: 500; position: relative; }
.gnb>li>a>img { width: 40%;}

/*main*/
main { position: relative; padding-left: calc((6%) + (100% - 960px) * 0.15); padding-right: calc((5%-20px) + (100% - 960px) * 0.1);  width: calc((2 / 3) * 100%); display: flex; flex-direction: column; gap: 140px; }
main .inner { position: relative; max-width: 1280px;  width: 100%;  margin: 0 auto;} 

/* 메인 비주얼 */
.main_bn { width: 33.3%; height: calc( 100vh - 102px); position: fixed; top: 102px; right: 0; display: flex; justify-content: right;}
.swiper_mainbn { width: 100%; position: relative;  overflow: hidden;}
.swiper_mainbn .swiper-scrollbar { background: rgba(0, 0, 0, 0.2); height: 4px; width: 30%; position: absolute; top: 0; left: 80px; z-index: 10;}
.swiper_mainbn .swiper-slide img { height: 100%; object-fit: contain;}
.navi_bar .swiper-pagination { position: absolute; bottom: 30px;  font-size: 18px; color: #fff; }
.navi_bar .swiper-button-prev { position: absolute; left: 40%; top: auto; bottom: 20px; color: #fff;  transform: scale(0.5);}
.navi_bar .swiper-button-prev::after { font-size: 30px; font-weight: 600; }
.navi_bar .swiper-button-next { position: absolute; right: 40%; top: auto; bottom: 20px; color: #fff;  transform: scale(0.5);}
.navi_bar .swiper-button-next::after { font-size: 30px; font-weight: 600; }


/*Section1*/
.section1 {padding-top: 110px; }
.product { width: 75%; display: flex; justify-content: space-between;}
.product li { background: #fff; margin-bottom: 40px; position: relative; width: 50%;}
.product li:nth-child(2) { padding-left: 20px; padding-top: 200px;}
.product li img { width: 100%;}
.product_main01 { margin-bottom: 20px; }
h1 { margin: 20px auto 10px; font-size: 20px; line-height: 1.3; font-weight: 500;}
h1 span { color: #29c9f9;}
.product li>p { font-size: 16px; margin-bottom: 10px;}

.product_sub01 { font-size: 12px; display: flex; flex-wrap: wrap;}
.product_sub01 img { border-radius: 15px; width: 48%; margin-bottom: 5px;}
.product_sub01 li {width: 48%;  box-sizing: border-box;}
.product_sub01 li:nth-child(2), .product_sub01 li:nth-child(4) { padding-left: 10px; padding-top: 140px;}
.product_sub01>li>p { margin-bottom: 5px;}
.product_sub01>li>p:nth-of-type(1) { font-size: 12px; font-weight: 500;}
.product_sub01>li>p:nth-of-type(2) { font-size: 14px; color: #1F1F1F; font-weight: 600;}
.product_sub01>li>p:nth-of-type(3) { font-size: 16px; color: #1F1F1F;font-weight: 500;}
h2 { margin-bottom: 10px; font-size: 12px;font-weight: 700; display: inline-block;}
h3 { color: #cccccc; letter-spacing: -0.5px; font-weight: 700;line-height: 18px;text-decoration: line-through;text-decoration-thickness: 1px;font-size: 12px;}
.product_sub01 span { color: #29c9f9;}

/*Section2*/
.section02 { margin-top: 150px; background-color: #fff;}
.section02 .shop { width: 75%;  display: flex; justify-content: space-between; overflow: hidden;}
.btn { display: flex; align-items: center; gap: 20px; font-size: 20px; margin-bottom: 30px;}
.btn button { border: none; background-color: #29c9f9; color: white; padding: 5px 40px; border-radius: 20px; cursor: pointer; font-size: 20px; margin-top: 20px;}
.product02 { display: flex; justify-content: space-between; align-items: flex-start;  width: 75%;
padding-bottom: 20px; gap: 10px;}
.product_main02 { width: calc(50% - 5px); position: relative; margin-top: 0;}
.product_sub02 { display: flex; justify-content: space-between; width: calc(50% - 5px); gap: 10px; align-items: flex-start; }
.product_sub02 li {width: calc(50% - 5px); text-align: left; align-self: flex-start; }
.product_sub02 img { vertical-align: top; padding-bottom: 10px; }
.product_main02 p { position: absolute; bottom: 10px; left: 10px; padding: 5px 10px; font-size: 14px; font-weight: 600;}
.product02 li img, .product03 li img {width: 100%;}
.product_sub02>li>p {margin-bottom: 5px;}
.product_sub02>li>p:nth-of-type(1) { font-size: 12px; font-weight: 500; }
.product_sub02>li>p:nth-of-type(2) { font-size: 14px; color: #1F1F1F; font-weight: 600; }
.product_sub02>li>p:nth-of-type(3) { font-size: 16px; color: #1F1F1F; font-weight: 500; }
.product_sub02 span { color: #29c9f9;}

/*Section3*/
.section3 {padding-top: 110px;}
.section3 .shop { width: 75%; background-color:#fff; overflow: hidden; }
.section3 .shop p { font-size: 18px; font-weight: 500; }
.section3 .shop img { width: 100%; height: auto; object-fit: cover; padding: 20px 0; }

.product03 { width: 100%; display: flex; justify-content: space-between; padding-top: 20px; }
.product03 li { background: #fff; position: relative; width: 50%; padding-right: 20px; }
.product03>li>p { padding-bottom: 5px;}
.product03>li>p:nth-of-type(1) { font-size: 12px; color: #a0a0a0;}
.product03>li>p:nth-of-type(2) { font-size: 14px; color: #1F1F1F; font-weight: 600;}
.product03>li>p:nth-of-type(3) { font-size: 16px; color: #1F1F1F;}
.product03>li>p span { color: #29c9f9;}
h4 { font-size: 20px; line-height: 1.3; font-weight: 500; padding-top: 20px;}
h4 span { color: #29c9f9;}

/*Section4*/
.section4 { padding-top: 200px;}
.section4 .SNS { width: 75%; background-color:#fff; overflow: hidden; }
.section4 .SNS p { padding-bottom: 30px; line-height: 1.3; font-weight: 500; font-size: 18px;}
.product04 { background-color: #f0f0f0; width: 100%; display: flex; justify-content: space-between; padding-top: 30px; gap: 20px;}
.product04 li { position: relative; width: calc(33.33% - 13.33px); overflow: hidden; padding: 0;}
.product04 li img { width: 100%; }
.section4 .SNS .product04 li p { text-align: center; font-size: 14px; font-weight: 600; padding-top: 10px;}

/*Footer*/
footer { font-size: 14px; font-weight: 300; color:#333; position: relative; margin-top: 200px;  padding-left: calc((6%) + (100% - 960px) * 0.15); padding-right: calc((5%-20px) + (100% - 960px) * 0.1);  width: calc((2 / 3) * 100%); display: flex; flex-direction: column; gap: 140px;}
.bottom1 { margin-top: 50px; padding-bottom: 100px; display: flex; flex-wrap: wrap; }
.bottom1>div { margin-right: 40px;} 
.button { display: flex; justify-content: left; padding-top: 20px; gap: 20px;}
.button li { display: flex; align-items: center; justify-content: space-between;  width: 150px; height: 40px; background-color: #000; font-size: 14px; font-weight: 600; text-align: center; color: #fff; padding: 0 15px; border: 1px solid #000;}  
.button li::after { content: ">"; font-size: 16px; color: #fff;}
h5 { font-size: 14px; line-height: 1.3; font-weight: 500; padding-top: 20px;}
h5 span { color: #a0a0a0;}

/*사이트맵*/
.sitemap_bg { position: fixed; left: 250px; top: 80px; background-color: rgba(255, 255, 255, 1); padding: 20px; max-width: 1900px; margin: auto; z-index: 1000; max-height: 1000px; display: none; overflow-y: auto; }
.sitemap { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px; font-weight: 500; font-size: 14px;}
.sitemap dl { flex: 1; min-width: 150px; }
.sitemap dt { color: #29c9f9; border-bottom: 1px solid #29c9f9; padding-bottom: 10px; margin-bottom: 10px;}
.sitemap div { color: #333; padding-right: 20px; font-weight: 600; }
.sitemap dd { margin: 5px 0; font-size: 1em; color: #333; cursor: pointer; transition: color 0.2s ease-in-out; font-size: 14px; padding-bottom: 5px; font-weight: 500;}
.sitemap dd:hover { color: #29c9f9;}


@media (min-width: 768px) {
    .main {
        padding-left: calc(13% + (1280px - 960px) * 0.3);
        padding-right: calc(13% + (1280px - 960px) * 0.3);
    }
}